<h1>works show</h1>

<p><%= link_to 'Edit Work', edit_work_path(@work)  %></p>


<h1><%= @work.datetimeperformed  %></h1>

<p><%= @work.user.fname  %> <%= @work.user.lname  %></p>
<p><%= @work.project.name  %></p>
<p><%= @work.hours  %></p>

<% if @work.doc %>
	<p>Document: <%= link_to @work.doc, "/uploads/#{@work.doc}", :target => "_blank" %></p>
<% end %>

<% content_for :aside do %>
	<% render 'sidebar' %>
<% end %>